<html>
<head>
<meta charset="UTF-8">
<title>Numbers Addition</title>
</head>

<body>
	<h2>Enter values:</h2>
<body>
	<form action="#" th:action="@{/}" th:object="${numbersForm}"
		method="post">
		<table>
			<tr>
				<td>Enter first value:</td>
				<td><input type="text" th:field="*{num1}" /></td>
				<td th:if="${#fields.hasErrors('num1')}" th:errors="*{num1}">Num1 error
			</tr>
			<tr>
				<td>Enter second value:</td>
				<td><input type="text" th:field="*{num2}" /></td>
				<td th:if="${#fields.hasErrors('num2')}" th:errors="*{num2}">Num2 error
					Error</td>
			</tr>
			<tr>

				<td><button type="submit">Calculate sum</button></td>
				<td><button type="reset">Reset</button></td>
			</tr>
		</table>
	</form>
</body>
</html>